@{
    ViewBag.Title = "About Us";
}

<h2>About</h2>
<p>
     <a href="https://plus.google.com/109217425633715931737"><img src="@Url.Content("~/Images/yoslabsreed.png")" alt="Yos" /></a> made this.
</p>