@if((Request.IsAuthenticated) && (PigBob.Models.UserProfile.GetUserProfile() != null)){
    <p>
        Hello, @Html.ActionLink(PigBob.Models.UserProfile.GetUserProfile().FirstName, "Index", "Account", null, new { @class = "username" })!
        @Html.ActionLink("Log Off", "LogOff", "Account")
    </p>
}
else
{
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", null, new { id = "registerLink", data_dialog_title = "Registration"})</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "logonLink", data_dialog_title = "Identification"})</li>
    </ul>
}
